html, body{
    margin:0;
    padding:0;
    font-family: 'Rubik', sans-serif;
    background-color: #f2f4d8;
    color: #7b8330;
    user-select: none;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 40px auto;
}
img {
    width: 150px;
    margin: 0 auto;
}
input{
    color: #7b8330;
    background-color: #f2f2f2;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}
button{
    color: #FDFDFD;
    background-color: #AC485A;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
button:hover{
    background-color: #432000;
    cursor: pointer;
}
ul {
    list-style:none;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #FFFDF8;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    flex-grow: 1;
    box-shadow: 0px 1px 4px #00000033
}

ul li:hover {
    background-color: #FFECC7;
    cursor: pointer;
}
